%script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' }

%p
  %textarea.memoir_field{ autofocus:true, :name => 'memoir[body]', :placeholder => 'Text', :cols => 50, :rows => 6 }= memoir.body
%p
  %small
    %textarea.memoir_field{ :name => 'memoir[subtext]', :placeholder => 'Subtext/Erklärung', :cols => 50, :rows => 4 }
%p
  %small
    %input.memoir_field{ :name => 'memoir[editor]', :placeholder => 'Sachbearbeiter', :value => memoir.editor, length: 20}
%p
  %input{ :type => 'submit', :value => 'Speichern' }

.memoir-container
  #memoir_preview= haml :memoir, :locals =>  { :memoir => @memoir, :skip_details => true }, :layout => false

%script
  :plain
    $(".memoir_field").keyup(function() {
      $("#memoir_preview").load('/preview', $(this).parents("form").serialize(), function() {
        Cufon.replace('.memoir p');
      });
    })

%section{ style: "text-align: left"}~ markdown File.read("README.md")
