%script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' }

%p
  %input.memoir_field{ :name => 'memoir[person]', :placeholder => 'Name', :value => memoir.person } sagte...
%p
  %textarea.memoir_field{ :name => 'memoir[text]', :placeholder => 'Text', :cols => 30, :rows => 10 }= memoir.text
%p
  %input{ :type => 'submit', :value => 'Speichern' }

#memoir_preview= haml :memoir, :locals =>  { :memoir => @memoir }, :layout => false

%script
  :plain
    $(".memoir_field").keyup(function() {
      $("#memoir_preview").load('/preview', $(this).parents("form").serialize());
    })