%script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' }

%p
  %textarea.memoir_field{ :name => 'memoir[body]', :placeholder => 'Text', :cols => 50, :rows => 10 }= memoir.body
%p
  %small
    %input.memoir_field{ :name => 'memoir[editor]', :placeholder => 'Sachbearbeiter (optional)', :value => memoir.editor }
%p
  %input{ :type => 'submit', :value => 'Speichern' }

#memoir_preview= haml :memoir, :locals =>  { :memoir => @memoir, :skip_details => true }, :layout => false

%script
  :plain
    $(".memoir_field").keyup(function() {
      $("#memoir_preview").load('/preview', $(this).parents("form").serialize(), function() {
        Cufon.replace('.memoir p');
      });
    })

- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true)
%section{ style: "text-align: left"}~ markdown.render(File.read("README.md"))
