- @memoirs.each do |memoir|
  = haml :memoir, :locals =>  { :memoir => memoir }, :layout => false
  - if memoir != @memoirs.last
    .memoir-separator

.memoir-separator

.memoir.dialogue
  %p.a
    %span.speaker Anna
    May I have your attention?
  %p.b
    %span.speaker Jonas
    Immer!
  
  .clearfix
  .details
    %a{ :href => "/memoir/1"} Alex am 01.12.2010