.memoir
  %p Urbi et orbi. – Die Stadt und der Landkreis.
    
  .details
    %a{ :href => "/memoir/3"} Alex am 01.12.2010

.memoir-separator

.memoir.dialogue
  %p.a
    %span.speaker Anna
    May I have your attention?
  %p.b
    %span.speaker Jonas
    Immer!
  
  .clearfix
  .details
    %a{ :href => "/memoir/1"} Alex am 01.12.2010

.memoir-separator

.memoir
  %p Alex heiratet mal den Grafen von f.
  
  .details
    %a{ :href => "/memoir/2"} Alex am 01.12.2010



