- if authorized?
  %h5
    %a{ :href => "/new" } Neu

- @memoirs.each do |memoir|
  = haml :memoir, :locals =>  { :memoir => memoir }, :layout => false
  - if memoir != @memoirs.last
    .memoir-separator

- if @skip
  #pagination
    - if (@skip + 3) < Memoirs.count
      %span.left
        %a{ :href => "?skip=#{@skip+3}"} « Ältere
    - if @skip > 0
      %span.right
        %a{ :href => "?skip=#{@skip-3}"} Neuere »
    .clearfix

- unless ENV['SITE_NAME']
  #footer= faceboook_like_page_badge
