.memoir
  .text
    %p Urbi et orbi. – Die Stadt und der Landkreis.
    
.memoir-separator

.memoir
  .text
    %p Alex heiratet mal den Grafen von f.

.memoir-separator

.memoir.dialogue
  %p.a
    %span.speaker Anna
    May I have your attention?
  %p.b
    %span.speaker Jonas
    Immer!
