!!!
%head
  %title= @title || "Memoiren der Kursstufe"
  %link{ :rel => "stylesheet", :href => "/style.css" }
  %meta{ :name => "description", :content => "Die Memoiren der Kursstufe." }
  %link{ :rel => "alternate", :title => "RSS Feed", :href => "/feed.rss", :type => "application/rss+xml" }
  %script{ :src => '/cufon-yui.js'}
  %script{ :src => '/Adobe_Caslon_Pro_400.font.js'}
  %script Cufon.replace('.memoir p');
  
%body
  #wrapper
    #header
      %h2
        %a{ :href => "/" } Memoiren der Kursstufe
      %h5 von Jonas Schneider
      - if @header
        %h1= @header
    #content= yield