!!!
%head
  %link{ :rel => "stylesheet", :href => "/style.css" }
%body
  #wrapper
    #header
      %h2
        %a{ :href => "/" } Memoiren der Kursstufe
      %h5 von Jonas Schneider
      - if @header
        %h1= @header
    #content= yield