!!!
%head
  %title= ENV['SITE_NAME'] || 'Memoiren der Kursstufe'
  %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/style.css' }
  %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/fonts/stylesheet/style.css' }
  %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'only screen and (max-width: 480px)', :href => '/mobile.css' }

  %meta{ :name => 'description', :content => 'Die Memoiren der Kursstufe.' }
  %meta{ :name => 'keywords', :content => 'sprüche, kursstufe, schule, lehrer, kaindl, schüler, lustig, fichte, witze, zitate' }
  %link{ :rel => 'alternate', :title => 'RSS', :href => '/feed.rss', :type => 'application/rss+xml' }

%body
  #wrapper
    #header
      - if ENV['SITE_NAME']
        %h2
          %a{ :href => '/' }= ENV['SITE_NAME']
      - else
        %h2
          %a{ :href => '/' } Memoiren der Kursstufe
        %h5 von Jonas Schneider
      - if @header
        %h3= @header
      %form{ :action => '/search' }
        %input#search_field{ :name => 'query', :placeholder => 'Suchen...' }
    #content= yield
