- @title = "Memoir Nummer #{@memoir.number}"

- header do
  - unless @memoir.previous.nil?
    %a{ :href => url_for_memoir(@memoir.previous) } ←
  == Nummer #{@memoir.number}
  - unless @memoir.next.nil?
    %a{ :href => url_for_memoir(@memoir.next) } →

- if authorized?
  %h5
    %a{ :href => "/edit/#{@memoir.id}" } Bearbeiten

%h5
  %a{ :href => "/random" } Zufällig

= haml :memoir, :locals =>  { :memoir => @memoir, :on_show_page => true }, :layout => false