- header do
  - unless @memoir.previous.nil?
    %a{ :href => url_for_memoir(@memoir.previous) } â†
  == Nummer #{@memoir.number}
  - unless @memoir.next.nil?
    %a{ :href => url_for_memoir(@memoir.next) } â†’

= haml :memoir, :locals =>  { :memoir => @memoir, :on_show_page => true }, :layout => false