- @title = "Memoir Nummer #{@memoir_repo.number(@memoir)}"

- header do
  - unless @memoir_repo.previous(@memoir).nil?
    %a{ :href => url_for_memoir(@memoir_repo.previous(@memoir)) } ←
  == Nummer #{@memoir_repo.number(@memoir)}
  - unless @memoir_repo.next(@memoir).nil?
    %a{ :href => url_for_memoir(@memoir_repo.next(@memoir)) } →

- if authorized?
  %h5
    %a{ :href => "/edit/#{@memoir.id}" } Bearbeiten

%h5
  %a{ :href => "/random" } Zufällig

= haml :memoir, :locals =>  { :memoir => @memoir, :on_show_page => true }, :layout => false
