- @title = "Memoir Nummer #{@memoir_repo.number(@memoir)}"

- header do
  %h3
    - unless @memoir_repo.previous(@memoir).nil?
      %a{ :href => url_for_memoir(@memoir_repo.previous(@memoir)) } ←
    == &nbsp;Nummer #{@memoir_repo.number(@memoir)}&nbsp;
    - unless @memoir_repo.next(@memoir).nil?
      %a{ :href => url_for_memoir(@memoir_repo.next(@memoir)) } →

  %h5
    %a{ :href => url_for("/random") } Zufälliger Eintrag

- if authorized?
  %h5
    %a{ :href => url_for("/edit/#{@memoir.id}") } Bearbeiten

= haml :memoir, :locals =>  { :memoir => @memoir, :on_show_page => true }, :layout => false
